.App {
    text-align: center;
}

 .body {
    backgroundColor: red
 }
.book-img {
    height: 100px
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr)); 
    grid-template-rows: auto;
    grid-gap: 50px;
}

